<settings>
    <servers>
        <server>
            <id>github-mvn-deploy</id>
            <username>${env.GITHUB_REPO_USERNAME}</username>
            <password>${env.GITHUB_REPO_PASSWORD}</password>
        </server>
        <server>
            <id>github-mvn-download</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>${env.GITHUB_REPO_TOKEN}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>